@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Whether you need a customized computer program<br /> 
    or to modify existing software, rely on MKA Solutions,<br />
    a premier computer programming company,<br /> 
    to help your organization reach new levels of efficiency and productivity.<br />
    MKA also offers partnership opportunities for other IT companies.<br /> 
    For more information about our partnerships, contact us at partner@MKA.us..</p>
